<!doctype html>
<html lang="en">
  <head>
    <title>WebStarter - {% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    {% block head %}{% endblock head %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </head>
  <body>
      <div class="ui right vertical menu sidebar">
        <a class="item">
          Item 1
        </a>
        <a class="item">
          Item 2
        </a>
        <a class="item">
          Item 3
        </a>
      </div>
      <div class="">
        <button type="button" name="button" onclick="side()">Side</button>
      </div>
      <div class="pusher">
          <!-- Content here -->
          {% include 'includes/navbar.html' %}
          {% block content %}{% endblock content %}
      </div>
      <div class="footer">
          <br>
          <br>
      </div>

<script type="text/javascript">
  function side() {
    $('.sidebar')
      .sidebar('setting', 'transition', 'overlay')
      .sidebar('toggle')
  }
</script>
</body>
</html>
